<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <img src="../../../../../assets/logo/covid-logo.png" alt="Logo" style="width:40px;">
            <a class="navbar-brand" (click)="toHome()">Covid-App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link " (click)="toHome()">Home
                  <span class="sr-only">(current)</span>
                </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="toCovidInfo()">Covid Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="toAbout()">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="toContact()">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
